<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Contactme#index</h1>
<%= image_tag("profile3.jpg", class:"fit-image-contact") %>
<center>
  <br><br>
  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5>2009</h5>
    <p>I graduated from Northwestern with a degree in Economics. I admit I wasn't particularily passionate about finance, I mostly chose the major believing it was the most marketable. After a brief internship at Accenture, I took an offer to join a small trading firm with big dreams of making money.</p>
  </div>

  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5>2012</h5>
    <p>So that didn't work out. After 3 sleepless years, the company shut its doors and I waved the white flag to the algorthimic and high frequency traders. I realized the power of programming and decided to go back to school at the University of Illinois-Chicago to earn a Masters in Information Systems. At school, I focused on data science and software engineering. I had to self-teach myself languages like Java, R, and SQL. Much to my chagrin, the professors only taught using tools like Microsoft Access and SAS. I worked as a supply chain analyst throughout and went to school part time. It was a very busy two years. </p>
  </div>

  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5>2014</h5>
    <p>After graduating I got an offer at FAST Enterprises as a Data Conversion Consultant. My job consisted of converting old legacy databases and implementing our revenue tax software. It was mostly configuration and customization based (think Salesforce on a smaller scale). I had a wonderful 3 years and traveled the country from Washington State to Washington DC but I started itching for a change and wanted to get more into open source technology.</p>
  </div>

  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5>2017</h5>
    <p>I was offered an oppurtunity at Evolent Health as a Data Engineer. It was a big change in industry and a very different role. The company used SAS and SQL Server but was very open to new technology. I was given a lot of freedom to experiment with different tools. I built dashboards in python and ETL proof of concepts in Spark. After a year I moved to VillageMD where my Python skills began to blossom. I started to love my work. It was not about money anymore. I had finally discovered my career.</p>
  </div>

  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5>2019</h5>
    <p>I am now earning a second masters at the University of Chicago in Analytics, working as a Senior data engineer at Opploans, attending hackathons and meetups to practice my programming and raising a 1 year old. I'm starting to understand the entrepreneurial spirit and continue improving my skills in data engineering, data science and software engineering. There is so much to learn but I am so grateful to be where I am. Onward!</p>
  </div>

  <div style="text-align:center;width:30%;margin-bottom: 50px;">
    <h5><%= mail_to("timothy.chang2@gmail.com") %></h5>
  </div>
