<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
 <a class="navbar-brand" href="#">Timothy H Chang</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Projects</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Experiences</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Blog Posts</a>
     </li>
     <!-- <li class="nav-item">
       <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
     </li> -->
     <!-- <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigate</a>
       <div class="dropdown-menu" aria-labelledby="dropdown01">
         <a class="dropdown-item" href="#">Projects</a>
         <a class="dropdown-item" href="#">Experiences</a>
         <a class="dropdown-item" href="#">Blog Posts</a>
       </div>
     </li> -->
   </ul>
   <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
   <!-- <span style="color: Tomato;"> -->

   <a class="nav-link" href="#"><i class="fab fa-facebook-square fa-2x mx-1"></i></a>
   <a class="nav-link" href="https://github.com/timc3406"><i class="fab fa-github-square fa-2x mx-2"></i></a>
   <a class="nav-link" href="#"><i class="fab fa-youtube-square fa-2x mx-2"></i></a>
   <a class="nav-link" href="#"><i class="fab fa-linkedin fa-2x mx-2"></i></a>

   <!-- </span> -->

   <button type="button" class="btn btn-outline-light">Contact me</button>
   </ul>

   <!-- <form class="form-inline my-2 my-lg-0">
     <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
     <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
     <!-- <a class="btn btn-social-icon btn-twitter">
       <span class="fa fa-twitter"></span>
     </a>
   </form> -->
 </div>
</nav>
