<main>
  <div class="jumbotron" style="background-image: url(https://images3.alphacoders.com/166/166109.jpg);">
  <!-- url(https://download.hipwallpaper.com/tablet/768/1024/79/55/rn2Njq.jpg);"> -->
    <div class="container">
      <h1 class="display-3">Timothy Heejai Chang</h1>
      <p>I am a data engineer, partial software engineer, partial data scientist. This is my first attempt to create a personal website using Ruby on Rails. I am not a front-end engineer but my current company uses Ruby on Rails so I decided to try my hand at making an application for myself. </p>

      <p>This website presents some of my work, personal projects, previous experiences and blog posts. I've set it up so only I can sign in for now. I am an eternal student, I will never stop learning and I will never give up.

      <p>If you'd like to learn more or contact me with professional oppurtunities, click on CONTACT ME to learn more. I will only respond to email that I find interesting.
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Personal Projects</h2>
        <p>Some of my personal projects that I've worked on or currently worked on. I am still a novice at this sort of thing so most the projects are very simple use cases and material I found very intresting. </p>
        <p><a class="btn btn-secondary" href="projects" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Experience</h2>
        <p>A list of my professional experiences in data engineering and consultant. I have previous experience as a supply chain analyst and day trader but won't be posting about that in this section. </p>
        <p><a class="btn btn-secondary" href="contactme/index" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Blog Posts</h2>
        <p>This is where I post random blog posts of mine on topics ranging from programming to personal insights. It's a space where I do my best to express my thoughts with the assumption that nobody will read them but me. I want to clarify and organize my thoughts the best I can.</p>
        <p><a class="btn btn-secondary" href="blogposts" role="button">View Posts &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div>
 <br>
</main>
