<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<main>
  <div class="jumbotron" style="background-image: url(https://images3.alphacoders.com/166/166109.jpg);">
    <div class="container welcome_body">
      <h1 class="display-3">Timothy Heejai Chang</h1>
      <p>Hi there! My name is Tim and I am a data engineer (wannabe software engineer and data scientist as well). This is my first attempt to create a personal website using Ruby on Rails. I am not a front-end developer but my current company uses Ruby on Rails so I decided to try my hand at making an application for myself. Why? ..Why not? </p>
      <p>This website presents some of my work, personal projects, previous experiences and blog posts. I've set it up so only I can sign in for now. I don't see a point in allowing users to create their own account... yet. I consider myself an eternal student, I will never stop learning and I will never give up.</p>
      <p>My dream company is working for a company in Video Content like Facebook, Netflix, Google(Youtube) or SNAP. </p>
      <p>If you'd like to learn more or contact me with professional opportunities, click on ABOUT ME.
        I am very busy so I will only respond to relevant email.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Skills</h2>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Database Admin</li>
          <li><i class="fa-li fa fa-check-square"></i>Data Modeling</li>
          <li><i class="fa-li fa fa-check-square"></i>Data Visualization</li>
          <li><i class="fa-li fa fa-check-square"></i>Machine Learning</li>
          <li><i class="fa-li fa fa-check-square"></i>Data ETL</li>
          <li><i class="fa-li fa fa-check-square"></i>Cloud Services (AWS,GCP)</li>
          <li><i class="fa-li fa fa-check-square"></i>Backend Engineering</li>
          <li><i class="fa-li fa fa-check-square"></i>Software Architect</li>
          <li><i class="fa-li fa fa-check-square"></i>Product Management</li>
          <li><i class="fa-li fa fa-square"></i>AI/Deep Learning</li>
          <li><i class="fa-li fa fa-square"></i>Crypto</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Technologies</h2>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>OOP - Python, Ruby, Java</li>
        <li><i class="fa-li fa fa-check-square"></i>Functional - Clojure</li>
        <li><i class="fa-li fa fa-check-square"></i>SQL</li>
        <li><i class="fa-li fa fa-check-square"></i>R, SAS</li>
        <li><i class="fa-li fa fa-check-square"></i>bash</li>
        <li><i class="fa-li fa fa-check-square"></i>Hadoop,Spark, Kafka</li>
        <li><i class="fa-li fa fa-check-square"></i>Docker</li>
        <li><i class="fa-li fa fa-check-square"></i>Ruby on Rails, Django</li>
        <li><i class="fa-li fa fa-check-square"></i>git</li>
        <li><i class="fa-li fa fa-check-square"></i>Third Party: tableau, periscope, looker, datadog, sumologic, kibana, sentry and more </li>
        <li><i class="fa-li fa fa-square"></i>Javascript, Angular, Node-JS</li>
        <li><i class="fa-li fa fa-square"></i>Processing</li>
        <li><i class="fa-li fa fa-square"></i>Flask</li>
      </ul>
      </div>
      <div class="col-md-3">
        <h2>Databases</h2>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Postgres</li>
          <li><i class="fa-li fa fa-check-square"></i>MySQL</li>
          <li><i class="fa-li fa fa-check-square"></i>SQL Server</li>
          <li><i class="fa-li fa fa-check-square"></i>MongoDB</li>
          <li><i class="fa-li fa fa-check-square"></i>Snowflake, Redshift, BigQuery</li>
          <li><i class="fa-li fa fa-check-square"></i>Neo4J</li>
          <li><i class="fa-li fa fa-check-square"></i>Kafka (soft of DB)</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Industries</h2>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>Finance</li>
        <li><i class="fa-li fa fa-check-square"></i>Supply Chain Logistics</li>
        <li><i class="fa-li fa fa-check-square"></i>Government (Tax and Revenue)</li>
        <li><i class="fa-li fa fa-check-square"></i>Healthcare</li>
        <li><i class="fa-li fa fa-check-square"></i>Credit Loan</li>
        <li><i class="fa-li fa fa-square"></i>Big Tech</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
 <br>
</main>
