<!-- <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <h1 class="display-3">Hello, world!</h1>
  <h1 class="display-2">Hello, world!</h1>
  <h1 class="display-1">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
 <a class="navbar-brand" href="#">Navbar</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Link</a>
     </li>
     <li class="nav-item">
       <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
       <div class="dropdown-menu" aria-labelledby="dropdown01">
         <a class="dropdown-item" href="#">Action</a>
         <a class="dropdown-item" href="#">Another action</a>
         <a class="dropdown-item" href="#">Something else here</a>
       </div>
     </li>
   </ul>
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     <a class="btn btn-social-icon btn-twitter">
       <span class="fa fa-twitter"></span>
     </a>
   </form>
 </div>
</nav>
<main role="main"> -->

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Data Stuff</h1>
      <p>This is my first attempt to create a website using Ruby on Rails. I am a data engineer, software engineer, data scientist. I am an eternal student, I will never give up.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Resume &raquo;</a></p>
      <%= image_tag ("irisflower.jpeg")%>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Personal Projects</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="projects" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Experience</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Blog Posts</h2>
        <p>This is where I post random blog posts of mine on topics ranging from programming to personal insights. It's a space where I do my best to express my thoughts with the assumption that nobody will read them but me. I want to clarify and organize my thoughts the best I can.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View Posts &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
 <br>

    <i class="fab fa-facebook-f fa-3x mx-2"></i>
</main>
