<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<main>
  <div class="jumbotron" style="background-image: url(https://images3.alphacoders.com/166/166109.jpg);">
    <div class="container welcome_body">
      <h1 class="display-3">Timothy Heejai Chang</h1>
      <p>Hi there! My name is Tim and I am a data engineer (wannabe software engineer and data scientist as well). This is my first attempt to create a personal website using Ruby on Rails. I am not a front-end developer but my current company uses Ruby on Rails so I decided to try my hand at making an application for myself. Why? ..Why not? </p>
      <p>This website presents some of my work, personal projects, previous experiences and blog posts. I've set it up so only I can sign in for now. I don't see a point in allowing users to create their own account... yet. I consider myself an eternal student, I will never stop learning and I will never give up.</p>
      <p>My dream company is working for a company in Video Content like Netflix, Youtube or SNAP. </p>
      <p>If you'd like to learn more or contact me with professional opportunities, click on ABOUT ME.
        I am very busy so I will only respond to relevant email.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Skills</h2>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Database Admin</li>
          <li><i class="fa-li fa fa-check-square"></i>Data Modeling</li>
          <li><i class="fa-li fa fa-check-square"></i>Data Visualization</li>
          <li><i class="fa-li fa fa-check-square"></i>Machine Learning</li>
          <li><i class="fa-li fa fa-check-square"></i>Data ETL</li>
          <li><i class="fa-li fa fa-check-square"></i>Cloud Services (AWS,GCP)</li>
          <li><i class="fa-li fa fa-check-square"></i>Backend Engineering</li>
          <li><i class="fa-li fa fa-check-square"></i>Software Architect</li>
          <li><i class="fa-li fa fa-check-square"></i>Product Management</li>
          <li><i class="fa-li fa fa-square"></i>AI/Deep Learning</li>
          <li><i class="fa-li fa fa-square"></i>Crypto</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Technologies</h2>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>OOP - Python, Ruby, Java</li>
        <li><i class="fa-li fa fa-check-square"></i>Functional - Clojure</li>
        <li><i class="fa-li fa fa-check-square"></i>SQL</li>
        <li><i class="fa-li fa fa-check-square"></i>R, SAS</li>
        <li><i class="fa-li fa fa-check-square"></i>bash</li>
        <li><i class="fa-li fa fa-check-square"></i>Hadoop,Spark, Kafka</li>
        <li><i class="fa-li fa fa-check-square"></i>Docker</li>
        <li><i class="fa-li fa fa-check-square"></i>Ruby on Rails, Django</li>
        <li><i class="fa-li fa fa-check-square"></i>git</li>
        <li><i class="fa-li fa fa-check-square"></i>Third Party: tableau, periscope, looker, datadog, sumologic, kibana, sentry and more </li>
        <li><i class="fa-li fa fa-square"></i>Javascript, Angular, Node-JS</li>
        <li><i class="fa-li fa fa-square"></i>Processing</li>
        <li><i class="fa-li fa fa-square"></i>Flask</li>
      </ul>
      </div>
      <div class="col-md-3">
        <h2>Databases</h2>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check-square"></i>Postgres</li>
          <li><i class="fa-li fa fa-check-square"></i>MySQL</li>
          <li><i class="fa-li fa fa-check-square"></i>SQL Server</li>
          <li><i class="fa-li fa fa-check-square"></i>MongoDB</li>
          <li><i class="fa-li fa fa-check-square"></i>Snowflake, Redshift, BigQuery</li>
          <li><i class="fa-li fa fa-check-square"></i>Neo4J</li>
          <li><i class="fa-li fa fa-check-square"></i>Kafka (soft of DB)</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Industries</h2>
        <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>Finance</li>
        <li><i class="fa-li fa fa-check-square"></i>Supply Chain Logistics</li>
        <li><i class="fa-li fa fa-check-square"></i>Government (Tax and Revenue)</li>
        <li><i class="fa-li fa fa-check-square"></i>Healthcare</li>
        <li><i class="fa-li fa fa-check-square"></i>Credit Loan</li>
        <li><i class="fa-li fa fa-square"></i>Big Tech</li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Personal Projects</h2>
        <p>Some of my personal projects that I've worked on or currently worked on. I am still a novice at this sort of thing so most the projects are very simple use cases and material I found very intresting. </p>
        <p><a class="btn btn-secondary" href="projects" role="button">View Projects &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Experience</h2>
        <ul class="fa-ul two-columns">
          <li><i class="fa-li fa fa-check-square"></i>Postgres</li>
          <li><i class="fa-li fa fa-check-square"></i>MySQL</li>
          <li><i class="fa-li fa fa-check-square"></i>SQL Server</li>
          <li><i class="fa-li fa fa-check-square"></i>MongoDB</li>
          <li><i class="fa-li fa fa-check-square"></i>Neo4J</li>
        </ul>
        <p>A list of my professional experiences in data engineering and consultant. I have previous experience as a supply chain analyst and day trader but won't be posting about that in this section. </p>
        <p><a class="btn btn-secondary" href="contactme/index" role="button">View Experience &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Blog Posts</h2>
        <p>This is where I post random blog posts of mine on topics ranging from programming to personal insights. It's a space where I do my best to express my thoughts with the assumption that nobody will read them but me. I want to clarify and organize my thoughts the best I can.</p>
        <p><a class="btn btn-secondary" href="blogposts" role="button">View Posts &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div> -->
 <br>
</main>
