// Place all the styles related to the contactme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-centered {
text-align:center;
}

.fit-image-contact{
  object-fit: cover;
  width: 100%;
  height: 700px;
}

p-contact,
h5-contact {
  text-align: center;
}
