// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    "Arial", serif;
$primary-color: #333;

.container-inside
  {
    margin-top: 100px;
    font: 100% $font-stack;
  }

.project-show {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
  margin-top: 80px;
}
