// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    "Arial", serif;
$primary-color: #333;

.welcome_body {
  font: 100% $font-stack;
  color: $primary-color;
}

.two-columns {
  column-count:2;
}

.four-columns {
  column-count:4;
}
